---
import GithubLogo from "../icons/GithubLogo.astro";
import LinkIcon from "../icons/LinkIcon.astro";

const { href, text } = Astro.props;
---

<a href={href} target="_blank" class="duration-150 hover:scale-105">
{
    text === "Code" && <GithubLogo />
}
{
    text === "Deploy" && <LinkIcon />
}
</a>