---
import TailwindLogo from "../icons/TailwindLogo.astro";
import NextLogo from "../icons/NextLogo.astro";
import ViteLogo from "@components/icons/ViteLogo.astro";
import JavascriptLogo from "@components/icons/JavascriptLogo.astro";
import TypescriptLogo from "@components/icons/TypescriptLogo.astro";
import ShadCNLogo from "@components/icons/ShadCNLogo.astro";

const { technology } = Astro.props;
---

{
  technology === "Tailwind" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-tailwind-color bg-opacity-20 backdrop-blur-sm rounded-full text-xs font-semibold">
      <TailwindLogo />
      TailwindCSS
    </span>
  )
}
{
  technology === "Next" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-next-color backdrop-blur-sm rounded-full text-xs font-semibold">
      <NextLogo />
      Next.js
    </span>
  )
}
{
  technology === "Vite" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-vite-color bg-opacity-20 backdrop-blur-sm rounded-full text-xs font-semibold">
      <ViteLogo />
      Vite
    </span>
  )
}
{
  technology === "Javascript" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-javascript-color bg-opacity-20 backdrop-blur-sm rounded-full text-xs font-semibold">
      <JavascriptLogo />
      Javascript
    </span>
  ) 
}
{
  technology === "Typescript" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-typescript-color bg-opacity-20 backdrop-blur-sm rounded-full text-xs font-semibold">
      <TypescriptLogo />
      Typescript
    </span>
  ) 
}
{
  technology === "ShadCN" && (
    <span class="flex items-center justify-center gap-2 py-1 px-3 w-fit bg-shadcn-color backdrop-blur-sm rounded-full text-xs font-semibold">
      <ShadCNLogo />
      ShadCN
    </span>
  )
}
