---
import TechCard from "@components/experience/TechCard.astro";
---

<section
  class="flex flex-col gap-4 w-full max-w-4xl m-auto max-md:flex-col max-md:mx-[0.5rem] max-md:items-start"
  id="experience"
>
  <div class="flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      width="40"
      height="40"
      stroke-width="2"
    >
      <path
        d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z"
      ></path>
      <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
    </svg>
    <h2 class="text-4xl font-semibold">Work Experience</h2>
  </div>
  <ol class="relative">
    <li>
      <div
        class="relative mx-12 pb-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
      >
        <span class="text-jacaranda-300 -left-[44px] top-3 absolute text-5xl"
          >•</span
        >
        <time datetime="" class="text-xs font-thin">January 2023 - Current</time
        >
        <h3 class="text-jacaranda-300 font-semibold text-2xl">
          Project engineer
        </h3>
        <a
          href="https://www.uninorte.edu.co/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h4 class="font-semibold text-lg">Universidad del Norte</h4>
        </a>

        <p class="text-white/70">
          I provide application support at the university for platforms like ID
          Uninorte and Hola Uninorte, where I contributed to technological
          improvements. I also assist with process automation, web forms, and
          train others in CMS Liferay development.
        </p>
        <div class="flex flex-wrap gap-2 mt-2">
          <TechCard>
            HTML5
          </TechCard>
          <TechCard>
            CSS3
          </TechCard>
          <TechCard>
            JavaScript
          </TechCard>
          <TechCard>
            PHP
          </TechCard>
          <TechCard>
            GitHub
          </TechCard>
          <TechCard>
            Figma
          </TechCard>
          <TechCard>
            Dart
          </TechCard>
          <TechCard>
            Flutter
          </TechCard>
          <TechCard>
            CMS Liferay 7.3
          </TechCard>
        </div>
      </div>
    </li>
    <li>
      <div
        class="relative mx-12 pb-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
      >
        <span class="text-jacaranda-300 -left-[44px] top-3 absolute text-5xl"
          >•</span
        >
        <time datetime="" class="text-xs font-thin"
          >January 2022 - December 2022</time
        >
        <h3 class="text-jacaranda-300 font-semibold text-2xl">
          Administrative Assistant
        </h3>
        <a
          href="https://www.uninorte.edu.co/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h4 class="font-semibold text-lg">Universidad del Norte</h4>
        </a>

        <p class="text-white/70">
          I worked as a developer on the New Media team at Uninorte's
          Communications Office, creating email templates and functional web
          components like carousels and accordions. I used HTML5, CSS3, and
          JavaScript for these tasks.
        </p>
         <div class="flex flex-wrap gap-2 mt-2">
          <TechCard>
            HTML5
          </TechCard>
          <TechCard>
            CSS3
          </TechCard>
          <TechCard>
            JavaScript
          </TechCard>
          <TechCard>
            Figma
          </TechCard>
          <TechCard>
            CMS Liferay 7.3
          </TechCard>
        </div>
      </div>
    </li>
  </ol>
</section>

<style>
  section span svg {
    color: var(--color-primary);
  }
</style>
