<div class="w-full h-auto py-8 px-4 text-center">
    <p class="font-semibold">Made with ❤️ by <a class="text-jacaranda-300" href="https://github.com/dcavadiam" target="_blank" rel="noopener noreferrer">@dcavadiam</a></p>
    <p class="text-sm">Based on work by <a class="text-jacaranda-300" href="https://porfolio.dev/" target="_blank" rel="noopener noreferrer">Midudev</a> © 2024 No rights reserved</p>
</div>