<header class="sticky flex flex-row justify-center max-w-[980px] mx-auto py-4 px-4">
    <nav class="flex flex-row justify-center gap-4">
        <a class="duration-150 hover:text-jacaranda-500 hover:scale-105 " href="#experience">Experiencia</a>
        <a class="duration-150 hover:text-jacaranda-500 hover:scale-105 " href="#projects">Proyectos</a>
        <a class="duration-150 hover:text-jacaranda-500 hover:scale-105 " href="#about">Sobre mí</a>
        <a class="duration-150 hover:text-jacaranda-500 hover:scale-105 " href="mailto:diegocamodev@gmail.com">Contacto</a>
        <!-- <img id="traslate" src="/language.svg" alt="Language icon" class="w-6 duration-150 hover:scale-105" /> -->
    </nav>
</header>
