<section class="flex items-center gap-4 width-full max-w-[700px] m-auto h-screen">
    
    <div>
        <h1 class="text-4xl font-bold mb-3">Hello, I'm <span class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400">Diego Cavadia</span></h1>
        <p class="text-base">I'm a software engineer with a passion for building and improving the user experience of web applications.</p>
    </div>
    <img class="rounded-full " src="/public/dcavadia.webp" alt="Imagen de dcavadia" width="200" height="200" />
</section>