---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Here we have a portfolio of dcavadia's projects and some other things">
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@dcavadiam">
		<meta name="twitter:title" content="Dcavadia's Portfolio">
		<meta name="twitter:description" content="Here we have a portfolio of dcavadia's projects and some other things">
		<meta name="twitter:image" content="/portfolio-preview.webp">
	</head>
	<body>
		<Header />
		<main class="flex flex-col items-center justify-center gap-[6rem] my-8 min-h-screen px-10 ">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #2a0028;
		background: linear-gradient(
			to right,
			#000000,#2a0028
		);
		color: #fff;
	}
	body {
		position: relative;
	}
</style>
